<div class="contaner">
  <h1>Primer Proyecto Angular</h1> 
  <!-- PARA PODER TRAER DATOS DE LA PARTE LOGICA A LA GRAFICA: BINDING  -->
  <img class="img img-fluid" [src]=urlImagen>
  <p> Primer proyecto creado por el alumno: {{nombre}} {{apellidos}}</p> 
  <!-- PARA PODER TRAER DATOS DE LA PARTE GRAFICA A LA LOGICA: EVENT BINDING  -->
  <button class="btn btn-primary" (click)="nombre = 'PEPE'">Pulsar 1</button>
  <button class="btn btn-primary" (click)="metodoComunicacion('hey', 5)">Pulsar 2</button>

<div class="row">
  <div class="col mt-4">
    <app-inicial></app-inicial>
  </div>
  <div class="col">
    <app-secundario></app-secundario>
  </div>
  <div class="col mt-4">
    <app-inicial></app-inicial>
  </div>
</div>
</div>